body{
    background-color: rgb(16, 81, 166);
    font-family: 'Sansita Swashed', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
.mainLoad{
    font-size: xx-large;
    text-align: center;
    letter-spacing: 2px;

}
.mainNameLoad{
    text-align: right ;
    font-size: x-large;
}